API_URL=http://localhost:3000
AUTH_URL=http://localhost:3000
REMOTE_PRODUCTS_URL=http://localhost:4201
REMOTE_CART_URL=http://localhost:4202
REMOTE_ORDERS_URL=http://localhost:4203
PUBLIC_URL=http://localhost:4200/
